.Estimates1 {
  text-align: center;
  margin: 1%;
  padding: 1%;
}

#EstimateForm {
    display: flex;
    flex-direction: column;
    padding: 1%;
}

input {
    min-width: 280px;
    margin: .5%;
}

.ProjectInfo {
  min-height: 50px;
}

.EstimateInputSubmit {
    min-height: 75px;
    min-width: 300px;
}