.ContactUL {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
}

.ContactLI {
    margin: 1%;
    padding: 10px;
    text-align: center;
    width: 153px;
}

.HLink {
    color: #fff;
}