.Gallery1 {
    text-align: center;
    margin-top: 2%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 4px;
}

/* Create equal columns that sit next to each other */
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    vertical-align: middle;
}

.galleryImg {
    border: solid thin #fff;
    width: 100%;
    margin-top: 2%;
}

/* Responsive layout - makes one column-layout instead of three columns */
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes one column-layout instead of three columns */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}