.App {
  text-align: center;
  padding: 5px;
  background-color: gray;
  border: solid orange;
}

.NavigationUL {
  list-style: none;
  display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      padding: 10px;

}