.App {
  background-color: gray;
  border: solid thin orange;
  height: 100%;
}


.Brand {
  margin-bottom: 2%;
  text-align: center;
}

.BrandLogo {
  height: 200px;
  width: auto;
}

.NavigationUL {
  list-style: none;
  display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      padding: 10px;

}